@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background: hsl(0, 0%, 9%);
  background-image: url(banana.png);
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: #1a1818;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.TodoWrapper {
  background: #eaff5f;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
}

.TodoForm {
  width: 100%;
}

.todo-input {
  outline: none;
  background: #f8ffe591;
  border: 1px solid #1a1818;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #1a1818;
}

.edit-todo-input {
  outline: none;
  background: #f8ffe591;
  border: 1px solid #1a1818;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 280px;
  color: #1a1818;
}

.todo-input::placeholder {
  color: #1a1818;
}

.todo-btn {
  background: #1a1818;
  color: #f8ffe5;
  border: none;
  border-radius: 5px;
  padding: 0.55rem;
  margin-left: 1rem;
  cursor: pointer;
  
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1a1818;
  color: #f8ffe5;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  cursor: pointer;
}

.fa-trash {
  margin-left: 0.75rem;
}

.completed {
  color: #d1d8bd92;
  text-decoration: line-through;
}
 